<ion-view view-title="MyStocks" id="my-stocks">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="modalService.openModal(1)">
      <i class="icon icon-small ion-ios-search"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getMyStocksData()"
      class="margin-auto"
    ></ion-refresher>
    <ion-list>
      <ion-item ng-repeat="stock in myStocksData | orderBy: '-changePercent' track by stock.symbol" ng-href="#/app/{{stock.symbol}}">
        <div class="row row-center">
          <div class="col stock-ticker-name">
            <h3>{{stock.symbol}}</h3>
            <h6 ng-bind-html="::stock.Name"></h6>
          </div>
          <div id="container" class="buttons" side="right">
            <div class="button button-clear" ng-class="stock.changePercent >= 0 ? 'background-green' : 'background-red'">
              <h6 id="stock-change_title" ><span ng-if="stockDetailsData.Change>0">+</span>{{stock.Change | shrinkNumber:2}}<br><span ng-if="stock.change>0">+</span>{{stock.changePercent | shrinkNumber:3}}%</h6>
            </div>
          </div>
        </div>
        <ion-option-button class="button-light icon ion-minus-circled color-red inset-shadow" ng-click="unfollowStock(stock.symbol)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
